<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Wikébec | Dictionnaire de québécois participatif{% endblock %}
        </title>

        {% block stylesheets %}
            {% stylesheets
                'bootstrap-3.3.4-dist/css/bootstrap.min.css'
                'css/*'
                output='compiled/css/app.css'
                filter='cssrewrite'
            %}
                <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <script src='https://www.google.com/recaptcha/api.js'></script>
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <a class="navbar-brand" href="{{ path('home') }}" title="Dictionnaire de français québécois">Wikébec</a>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="{{ app.request.attributes.get('_route') == 'home' ? 'active' }}"><a href="{{ path('home') }}" title="Accueil du dictionnaire">Accueil<span class="sr-only">(current)</span></a></li>
                            <li class="{{ app.request.attributes.get('_route') == 'addTerm' ? 'active' }}"><a href="{{ path('addTerm') }}" title="Ajouter un terme au dictionnaire">Contribuer</a></li>
                            <li class="{{ app.request.attributes.get('_route') == 'bestOf' ? 'active' }}"><a href="{{ path('bestOf') }}" title="Les coups-de-coeur du dictionnaire">Coups de coeur</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="row">
                <div class="col-xs-3">

                    {{ render(controller('AppBundle:Default:dico')) }}

                </div>
                <div class="col-xs-9">
                    {% for label, flashes in app.session.flashbag.all %}
                        {% for flash in flashes %}
                            <div class="alert alert-{{ label }}">
                                {{ flash }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
        {% block javascripts %}
            {% javascripts
                'js/jquery-1.11.2.min.js'
                'bootstrap-3.3.4-dist/js/bootstrap.min.js'
                'js/*'
            %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
