<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Wikébec | Dictionnaire de québécois participatif{% endblock %}
        </title>

        {% block stylesheets %}
            {% stylesheets
                'bootstrap-3.3.4-dist/css/bootstrap.min.css'
                'css/*'
                output='compiled/css/app.css'
                filter='cssrewrite'
            %}
                <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-xs-3 pre-scrollable">
                    {{ render(controller('AppBundle:Default:dico')) }}
                </div>
                <div class="col-xs-9">
                    <h1>Wikébec</h1>
                    <nav>
                        <ul class="nav nav-pills">
                            <li><a href="{{ path('addTerm') }}" title="Ajouter un terme au dictionnaire">Contribuer</a></li>
                        </ul>
                    </nav>
                    {% for label, flashes in app.session.flashbag.all %}
                        {% for flash in flashes %}
                            <div class="alert alert-{{ label }}">
                                {{ flash }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
        {% block javascripts %}
            {% javascripts
                'js/jquery-1.11.2.min.js'
                'bootstrap-3.3.4-dist/js/bootstrap.min.js'
                'js/*'
            %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
